<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">

  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">

  <meta name="description" content="Node Aware API">
  <meta name="keywords" content="Node, Blockchain, property, API">
  <meta name="author" content="John Doe">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css"> 
  <link href="https://fonts.googleapis.com/css?family=Barrio" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Russo+One" rel="stylesheet">  
  <link rel="stylesheet" href="css/main.css" /> 

  {{!-- External css here --}}
  <title>{{title}} | Blockchain App</title>
</head>

<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="50">
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>                        
          </button>
          <a class="navbar-brand" href="/">MagicBlocks&trade;</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/">HOME</a></li>
            <li><a href="/registration">REGISTRATION</a></li>
            <li><a href="/sale">SALES</a></li>
            <li><a href="/blockview">BLOCKVIEW</a></li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">MORE
              <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/contact">CONTACT US</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>

  {{{body}}}

  {{!-- Footer Here --}}
  <footer class="text-center">
    <a class="up-arrow" href="#" data-toggle="tooltip" title="TO TOP">
      <span class="glyphicon glyphicon-chevron-up"></span>
    </a><br><br>
    <p>BlockChain - Technothon 2017 - Persistent Systems, Goa</p> 
  </footer>


  {{!-- External Scripts here --}}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script async src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>    
  <script async src="js/main.js"></script>
</body>
</html>