<link rel="stylesheet" type="text/css" href=""> {{!-- Materialize --}}
<link rel="stylesheet" type="text/css" href="css/blockview.css"> 

<div class="blocks">
  <div class="container">
    <h1>Blockview</h1>

  </div>
</div>


<div id="hidden-data">
  {{blockChain}}
</div>

<script type="text/javascript" href="js/blockview.js"></script>