<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
<link rel="stylesheet" type="text/css" href="css/blockview.css">

<div class="blocks">
    <p id="mypara"></p>
    <div class="show_data">
        <code id="shown-details"></code>
    </div>
</div>
  <table class="jh-type-object jh-root">
   <tbody class="">
    <tr>
     <th class="jh-key jh-object-key">transactions</th>
     <td class="jh-value jh-object-value">
      <table class="jh-type-array">
       <tbody class="">
        <tr>
         <th class="jh-key jh-array-key">0</th>
         <td class="jh-value jh-array-value">
          <table class="jh-type-object">
           <tbody class="">
            <tr>
             <th class="jh-key jh-object-key">type</th>
             <td class="jh-value jh-object-value"><span class="jh-type-int jh-type-number">2</span></td>
            </tr>
            <tr>
             <th class="jh-key jh-object-key">chaincodeID</th>
             <td class="jh-value jh-object-value"><span class="jh-type-string jh-empty">(Empty Text)</span></td>
            </tr>
            <tr>
             <th class="jh-key jh-object-key">payload</th>
             <td class="jh-value jh-object-value"><span class="jh-type-string jh-empty">(Empty Text)</span></td>
            </tr>
            <tr>
             <th class="jh-key jh-object-key">txid</th>
             <td class="jh-value jh-object-value"><span class="jh-type-string jh-empty">(Empty Text)</span></td>
            </tr>
            <tr>
             <th class="jh-key jh-object-key">timestamp</th>
             <td class="jh-value jh-object-value">
              <table class="jh-type-object">
               <tbody class="">
                <tr>
                 <th class="jh-key jh-object-key">seconds</th>
                 <td class="jh-value jh-object-value"><span class="jh-type-int jh-type-number">1</span></td>
                </tr>
                <tr>
                 <th class="jh-key jh-object-key">nanos</th>
                 <td class="jh-value jh-object-value"><span class="jh-type-int jh-type-number">1</span></td>
                </tr>
               </tbody>
              </table></td>
            </tr>
            <tr>
             <th class="jh-key jh-object-key">nonce</th>
             <td class="jh-value jh-object-value"><span class="jh-type-string jh-empty">(Empty Text)</span></td>
            </tr>
            <tr>
             <th class="jh-key jh-object-key">cert</th>
             <td class="jh-value jh-object-value"><span class="jh-type-string jh-empty">(Empty Text)</span></td>
            </tr>
            <tr>
             <th class="jh-key jh-object-key">signature</th>
             <td class="jh-value jh-object-value"><span class="jh-type-string jh-empty">(Empty Text)</span></td>
            </tr>
           </tbody>
          </table></td>
        </tr>
       </tbody>
      </table></td>
    </tr>
    <tr>
     <th class="jh-key jh-object-key">stateHash</th>
     <td class="jh-value jh-object-value"><span class="jh-type-string jh-empty">(Empty Text)</span></td>
    </tr>
    <tr>
     <th class="jh-key jh-object-key">previousBlockHash</th>
     <td class="jh-value jh-object-value"><span class="jh-type-string jh-empty">(Empty Text)</span></td>
    </tr>
    <tr>
     <th class="jh-key jh-object-key">consensusMetadata</th>
     <td class="jh-value jh-object-value"><span class="jh-type-string jh-empty">(Empty Text)</span></td>
    </tr>
    <tr>
     <th class="jh-key jh-object-key">nonHashData</th>
     <td class="jh-value jh-object-value">
      <table class="jh-type-object">
       <tbody class="">
        <tr>
         <th class="jh-key jh-object-key">localLedgerCommitTimestamp</th>
         <td class="jh-value jh-object-value">
          <table class="jh-type-object">
           <tbody class="">
            <tr>
             <th class="jh-key jh-object-key">seconds</th>
             <td class="jh-value jh-object-value"><span class="jh-type-int jh-type-number">1</span></td>
            </tr>
            <tr>
             <th class="jh-key jh-object-key">nanos</th>
             <td class="jh-value jh-object-value"><span class="jh-type-int jh-type-number">1</span></td>
            </tr>
           </tbody>
          </table></td>
        </tr>
        <tr>
         <th class="jh-key jh-object-key">chaincodeEvents</th>
         <td class="jh-value jh-object-value">
          <table class="jh-type-array">
           <tbody class="">
            <tr>
             <th class="jh-key jh-array-key">0</th>
             <td class="jh-value jh-array-value"><span class="jh-type-object jh-empty">(Empty Object)</span></td>
            </tr>
           </tbody>
          </table></td>
        </tr>
       </tbody>
      </table></td>
    </tr>
   </tbody>
  </table>


<div id="hidden-data">
    {{blockChain}}
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.6/handlebars.js"></script>
<script type="text/javascript" src="js/blockview.js"></script>