<link rel="stylesheet" type="text/css" href="css/registration.css">

<div id="register">
  <div class="container">
    <h3 class="text-center main-title">Register Your Property!</h3>
    <br>
    <form id="form-register" name="registration">
      <div class="col-sm-6 form-group">
        <label for="usr">Name: </label>
        <br>
        <select name="ownerName" id="ownerName" value="--Select Name--" class="form-control" style="width:100%">
          <option value="">Select your Name </option>
          {{#each owners}}
          <option value="{{this.name}}">{{this.name}}</option>
          {{/each}}
        </select>
      </div>
      {{!-- Survey --}}
      <div class="col-sm-6 form-group">
        <label for="usr1">Survey No:</label>
        <input type="text" class="form-control" id="survey" required="required" name="survey" maxlength="5" minlength="1">
      </div>
      <br>
      <br> {{!-- Aadhar --}}
      <div class="col-sm-6 form-group">
        <label for="usr">Aadhar Card No:</label>
        <input type="text" class="form-control" id="aadhar" name="aadhar" disabled="disabled" required="required">
      </div>
      {{!-- Area --}}
      <div class="col-sm-6 form-group">
        <label for="usr">Area (in Sq.ft ):</label>
        <input type="text" class="form-control" id="area" name="area" required="required" pattern="[0-9]+||[0-9]+(\.[0-9][0-9]?)">
      </div>
      {{!-- Location --}}
      <div class="col-sm-12 form-group">
        <label for="Location">Location:</label>
        <textarea class="form-control" rows="5" id="location" required="required" name="location"></textarea>
      </div>
      <div class="form-group button-register">
        <button id="registerButton" type="submit" class="btn btn-default" value="submit">Register</button>
      </div>
      <div class="col-sm-5"></div>
    </form>
    <div id="blockDetails" class="col-sm-12">
      <br>
      <div class="alert alert-info alert-dismissable">
        <a id="result" class="close" data-dismiss="alert" aria-label="close">×</a>
        <strong>
    <center>Congratulations!! Your property has been registered Successfully..</center>
    </strong>
      </div>
    </div>
  </div>
</div>
<div id="hidden-users" style="display: none">
  {{#each owners}}
  <p style="display:inline">{{this.name}}</p>
    <p class="aadhar" style="display:inline">{{this.aadhar}}</p> 
  {{/each}}
</div>