<div id="sales" class="bg-1" >
  <div class="container">
    <h3 class="text-center">SALES</h3>
    <p class="text-center"><br></p>

    <div id="salesinner">
      <div class="col-sm-3 form-group">
      <img src="imgs/cartoon.png" style="max-width:100%;"/>
      </div>
      <div class="col-sm-3 form-group" >
        <label for="usr">Buy From: </label><br>
        <select name="name" value="--Buy From--">
          <option value="" >Select Seller </option>
          <option value="Amol Pednekar">Amol Pednekar</option>
          <option value="Riya Borkar">Riya Borkar</option>
          <option value="Aaron Colaco">Aaron Colaco</option>
          <option value="Shantanu Kulkarni">Shantanu Kulkarni</option>
          <option value="Saideep Bhosle">Saideep Bhosle</option>
          <option value="Rishab Bandekar">Rishab Bandekar</option>
          <option value="Vivek Kumar">Vivek Kumar</option>
        </select>
      </div>
      <div class="col-sm-6 form-group">
        <label for="usr">Area:</label>
        <input type="text" class="form-control" id="Area" name="Area" onkeypress='return event.charCode >= 48 && event.charCode <= 57' >
      </div>
      <div class="col-sm-3 form-group" >
        <label for="usr">Survey No: </label><br>
        <select name="name" value="--Buy From--">
          <option value="" >Select Survey No: </option>
          <option value="Amol Pednekar">Amol Pednekar</option>
          <option value="Riya Borkar">Riya Borkar</option>
          <option value="Aaron Colaco">Aaron Colaco</option>
          <option value="Shantanu Kulkarni">Shantanu Kulkarni</option>
          <option value="Saideep Bhosle">Saideep Bhosle</option>
          <option value="Rishab Bandekar">Rishab Bandekar</option>
          <option value="Vivek Kumar">Vivek Kumar</option>
        </select>
      </div>
      <div class="col-sm-6 form-group">
        <label for="Address">Address:</label>
        <textarea class="form-control" rows="5" id="Address" name="Address" ></textarea>
      </div>
      <br>
      <br>
      <br>
      <div class="col-xs-12" size="2">
        <hr style="border-color:#6d6d6d">
      </div>
      <div class="col-sm-3">
      </div>
      <div class="col-sm-3 form-group" >
        <label for="usr">Buyer: </label><br>
        <select name="name" value="--SBuyer--">
          <option value="" >Select Buyer </option>
          <option value="Amol Pednekar">Amol Pednekar</option>
          <option value="Riya Borkar">Riya Borkar</option>
          <option value="Aaron Colaco">Aaron Colaco</option>
          <option value="Shantanu Kulkarni">Shantanu Kulkarni</option>
          <option value="Saideep Bhosle">Saideep Bhosle</option>
          <option value="Rishab Bandekar">Rishab Bandekar</option>
          <option value="Vivek Kumar">Vivek Kumar</option>
        </select>
      </div>

      <div class="col-sm-6 form-group button-register"> 
        <input type="submit" id="submitButton" class="btn btn-default" value="BUY"/>
      </div>
    </div>
  </div>
</div>