#hidden-data {
  display: none;
}

.blocks {
  position: relative;
  background-image: url(../imgs/whitebg.jpg);
  min-height: 100%;
  height: 100%;
  padding: 3em;
}

code {
  display: block;
  white-space: pre-wrap;
  word-wrap: break-word;
}

 /* ttip container */
.ttip {
    margin-right: 18px;
    background-color: #0057e7;
    color: #d5d5d5;
    position: relative;
    display: inline-block;
    text-align: center;
    border-radius: 5px;
}

.ttip:last-child {
  margin-right: 0;
}

/* ttip text */
.ttip .ttiptext {
    visibility: hidden;
    width: 400px;
    background-color: black;
    color: #fff;
    border-radius: 6px;
    padding: 5px;
    text-align: left;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -200px;
    word-wrap: break-word;
}

/* Tooltip arrow */
.ttip .ttiptext::after {
    content: " ";
    position: absolute;
    bottom: 100%;  /* At the top of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.ttip:hover .ttiptext {
    visibility: visible;
    opacity: 1;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.ttip .show {
    visibility: visible;
}
