#hidden-data {
  visibility: hidden
}
.hidden-details {
  display: none;
  color: #000
}
.show_details:hover + .hidden-details {
  display: block;
  color: #000
}
.blocks {
  margin-top: 10em
}

code {
    display: block;
    white-space: pre-wrap;
    word-wrap: break-word;
    background-color: transparent;
    color: #fff;
}