html {
  width: 100%;
  height: 100%;
}

body {
  font: 400 15px/1.8 Lato, sans-serif;
  color: #777;
  width: 100%;
  height: 100%;
}

h3,h4 {
  margin: 10px 0 30px 0;
  letter-spacing: 10px;
  font-size: 20px;
  color: #111;
}
#home{
  width: 100%
  height: 100%;
}
.container {
  padding: 80px 120px;
}
.form-group {
  text-align: left
}
.dropdown-menu {
  left: -40px;
  right: -40px;
}
.person {
  border: 10px solid transparent;
  margin-bottom: 25px;
  width: 80%;
  height: 80%;
  opacity: 0.7;
}
.person:hover {
  border-color: #f1f1f1;
}

.image-set{
  max-height: 100%;
  max-width:100%;
}

.jumbotron{
  margin-top: 20px;
  z-index: 100;
  position: absolute;
  color: rgb(0,87,231);
  font-size: 24px;
  font-weight: bold;
  left: 13em;
  top: 50px;
  align-content: center;
  background-color: rgb(230, 230, 230);;
  opacity: 0.65;
  background-size: cover;
  padding: 10px;
}

#jbText{
  font-weight: bold;
  margin-left: auto;
  font-family: Verdana, sans-serif;
}

#jumboHeader{
  text-align: center;
  font-family: 'Russo One', sans-serif;

}

#myCarousel{
  height: 100%;
}
.carousel-inner img {
  /* -webkit-filter: grayscale(90%);*/
  /* filter: grayscale(90%);*/
  /* make all photos black and white */
  
  width: 100%;
  /* Set width to 100% */
  margin: auto;


}


@media (max-width: 600px) {
  .carousel-caption {
  display: none;
  /* Hide the carousel text when the screen is less than 600 pixels wide */
  }
}
.bg-1 {
  /*sales page text*/
  
  background: #2d2d30;
  color: #000000;
  height: 100%;
}
.block .img-responsive {
  margin: 0 auto;
}
.bg-1 h3 {
  color: #000;
}
.bg-1 p {
  font-style: italic;
}
.list-group-item:first-child {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
.list-group-item:last-child {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.thumbnail {
  padding: 0 0 15px 0;
  border: none;
  border-radius: 0;
}
.thumbnail p {
  margin-top: 15px;
  color: #555;
}
.btn {
  padding: 10px 20px;
  background-color: #333;
  color: #f1f1f1;
  border-radius: 0;
  transition: .2s
}
.btn:hover,
.btn:focus {
  border: 1px solid #333;
  background-color: #fff;
  color: #000;
}
h4,.close {
  background-color: #333;
  color: #fff !important;
  text-align: center;
  font-size: 30px;
}

.nav-tabs li a {
  color: #777;
}
.tab-content p,
h2 {
  margin-left: 15px;
}
#googleMap {
  width: 100%;
  height: 400px;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
.navbar {
  font-family: Montserrat, sans-serif;
  margin-bottom: 0;
  background-color: rgb(0,87,231);
  border: 0;
  font-size: 12px !important;
  letter-spacing: 4px;
  opacity: 0.9;
}
.navbar li a,
.navbar .navbar-brand {
  color: #d5d5d5 !important;
  height: 45px;
}
.navbar-nav li a:hover {
  color: #fff !important;
}
.navbar-nav li.active a {
  color: #fff !important;
  background-color: #29292c !important;
}
.navbar-default .navbar-toggle {
  border-color: transparent;
}
.open .dropdown-toggle {
  color: #fff;
  background-color: #555 !important;
}
.dropdown-menu li a {
  color: #000 !important;
}
.dropdown-menu li a:hover {
  background-color: red !important;
}
footer {
  /*background-color: #2d2d30;*/ /*Black/Dark Grey*/

  background-color: rgb(0,87,231);
  color: #f5f5f5;
  padding: 32px;
}
footer a {
  color: #f5f5f5;
}
footer a:hover {
  color: #777;
  text-decoration: none;
}
.form-control {
  border-radius: 0;
}
textarea {
  resize: none;
}
.dropdown {} #user-dropdown {
  align-content: center
}
#user-dropdown-menu {
  left: 50%;
  right: auto;
  text-align: center;
  transform: translate(-50%, 0);
}
#band {
  height: 100%;
}
#contact {} #contact-us {
  background: #2d2d30;
  color: #bdbdbd;
  width: 100%;
}
li {
  display: inline-block;
  margin-left: 50 px;
  /* This is when the drop down box appears */
  
  position: relative;
}
/*NEW PART*/

.btn-group {} select {
  line-height: 2.5em;
}
.btn-group {
  margin: 10px 10px 10px 10px;
}
#register {
  height: 100%;
  color: black;
  background-color: #ffffff;
  width: 100%;
}
#registerButton {
  margin-top: 30px;
  background-color: rgb(0,87,231);
}
#submitButton {
  margin: 25px;
  background-color: rgb(0,87,231);
}
#dropdownname {} {
  position: absolute;
  left: 25%;
}
#buyButton {
  position: absolute;
  margin-left: 10em;
  margin-top: 12em;
  left: 35%;
  top: 40%;
  width: inherit;
}
#registerButton {
  position: absolute;
  left: 47%;
  top: 77%;
}
hr {
  height: 1px;
  color: #f442d1;
}
#sales {
  background: #ffffff;
}