
#buyButton {
  background-color:rgb(0, 87, 231);
  color: rgb(230, 230, 230);
  position: absolute;
  margin-left: 16em;
  margin-top: 2em;
  left: 80%;
  top: 40%;
}

#buyButton:hover {
  font-weight: bold;
  background-color:rgb(0, 51, 204);
  color: rgb(230, 230, 230);
  position: absolute;
  margin-left: 10em;
  margin-top: 2em;
}
hr {
  height: 1px;
  color: #f442d1;
}
#sales {
  background: #fff;
  color: #000;
  height: 100%;
  background-image: url(../imgs/whitebg.jpg);
  /*
  background-image: url(../imgs/pexels-photo.jpg);*/
  background-size: cover;
}

.container{
  margin-top: 2em;
}